<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>

        <p>A web portal displaying EECS4314 assignments for our group, "Tabs vs Spaces".</p>

        <h2>Team Members</h2>
          • Kevin Arindaeng<br>
          • Anton Sitkovets<br>
          • Glib Sitiugin<br>
          • Nisha Sharma<br>
          • Varsha Ragavendran<br>
          • Ayman Abualsunun<br>
          • Davood Anbarnam<br>
          <br>

      </header>
      <section>

      {{ content }}

      </section>
          <footer>
          <p><small>
              <br>
              <a href="https://github.com/pages-themes/minimal">Hosted on GitHub Pages — Theme by orderedlist</a>
              <br>
              <a href="https://github.com/azkevin">Maintained and modified by Kevin Arindaeng</a>
          </small></p>
         </footer>
    </div>
  </body>
</html>
